<div class="bg-white rounded-xl border border-gray-200 shadow-sm overflow-hidden h-full">

  <!-- Green Header -->
  <div class="bg-fc-green px-4 py-3 flex items-center gap-2">
    <h3 class="text-white font-semibold">Rapport Journalier</h3>
  </div>

  <!-- White Body -->
  <div class="p-5 bg-gray-50">
    <div class="bg-white p-4 rounded-lg border border-gray-100 shadow-inner">
      <p class="text-gray-700 whitespace-pre-line font-mono text-sm leading-relaxed">

        <!-- TODO: Put the answer to the Flash Question here! -->
        {{ reportMessage() }}

      </p>
    </div>
  </div>

</div>
